/*

Template 2089 Meteor

http://www.tooplate.com/view/2089-meteor

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,700i,900,900i&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
	overflow-x: hidden;
}

ul {
	list-style: none;
	font-family: 'Montserrat' sans-serif; 
	font-weight: 600;
}
p {
	color: #878484;
	font-size: 15px;
	letter-spacing: 0.25px;
	line-height: 30px;
	font-family: 'Montserrat' sans-serif; 
	font-weight: 600;
}


.section-heading h3 {
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	color: #1B1D1F;
	margin: 60px 0 0;
}

.social2 a:hover {
	color : #676767;
}


* {
    box-sizing: border-box;
}

#about .adv_pub {
	margin-top: 30px;
}

/* Create two equal columns that floats next to each other */
.column {
	padding: 32px 0;
    background-color: none;
    border: 10px solid #EEF1F3; 
    height: 320px;
    /* Should be removed. Only for demonstration */
}

.column h2 {
	margin-top: 10px;
	font-size: 20px;
	text-align: left;
	font-weight: 600;
	margin-left: 10px;
}

/*.column ul {
    padding: 25px 30px;
}

.column li {
    color: #1B1D1F;
    line-height: 2;
    font-size: 13px;
}*/

.column p {
    padding: 25px 20px;
    text-align: left;
    font-size: 13px;
    line-height: 2;
}

.section-heading h2 {
color: #1B1D1F;
}

.section-heading ul li {
color: #1B1D1F;
text-align: left;
padding-left: 120px; 
}

.border_img {
	float: left;
	margin-left: -60px;
}

.border_img img {
	width: auto;
	height: 160px;
	padding: 15px 10px;
	background-color: #fff;
}

.section-heading .line-dec {
	width: 60px;
	height: 4px;
	background-color: #FFD200;
	margin: 15px auto 35px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color:#1B1D1F;  
    
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
	line-height: 80px;
	padding: 0px;
}

.navbar-nav>li>a {
	color: #FFF!important;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: none;
	line-height: 80px;
	padding: 0px;
	letter-spacing: 0.5px;
}

.navbar-nav>li {
	margin-left: 45px;
}

.header.active .navbar-nav>li>a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: none;
	color: #fff!important;
}

.header.active {
    background-color: #1B1D1F;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-brand .logo{
	margin-top: 22px;
	background-image: url(../img/black_logo.png);
	display: inline-block;
	width: 145px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 140px 38px;
}
.header.active .navbar-brand .logo{
	margin-top: 22px;
	background-image: url(../img/black_logo.png);
	display: inline-block;
	width: 145px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 140px 38px;
}
#main-nav {
	background-color: transparent;
	background-image: none!important;
}
.header .navbar-brand {
    font-weight: 900;
}
.navbar-inverse {
	background-image: none;
	background-color: transparent;
}
.header .navbar {
    margin: 0;
    border: none;
}
.page-section {
    padding:  0;
}
.navbar-inverse .navbar-toggle {
	margin-top: 22px;
    border-color: #8dcacf;
    background-color: #8dcacf;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #3e86af;
}
bootstrap.min.css:5
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}
@media (max-width: 576px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }

    .border_img {
		margin-left: -45px;
	}
	
	.border_img img {
		width: auto;
		height: 120px;
	}

	.column {
		padding: 5px 0px;
		margin-bottom: 10px;
	}

	.column p {
	    padding: 25px 20px;
	    text-align: left;
	    font-size: 12px;
	    line-height: 2;
	}
}



/* HERO SLIDER */

.slide-caption {
	color: #FFA07A;
	float: left;
	padding: 10px 0 0 100px;
	text-align: left !important;
	font-family: 'Montserrat' sans-serif;
	font-weight: 400;
}

.social2 {
	float: right;
	padding:122px 44px 40px 0;
	-ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);
  letter-spacing: 20px;
}

.social2 a {
	text-decoration: none;
	color: #FFD200;
}

.social2 p {
	display: inline-block;
  font-size: 14px;
  line-height: 5;
  color: #FFD200;
  font-weight: 600;

}

.slide-caption h1{
	font-size: 65px;
	color: #FFD200;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 5px;
	margin-top: 80px;
}

.slide-caption .main_line {
	font-weight: 900;
	font-size: 45px;
}

.main_line i {
	font-size: 30px;
}

.slide-caption h2 {
	font-size: 22px;
	font-weight: normal;
	color: #FFD200;
	font-style: italic;
	margin-top: 60px;
	line-height: 48px;
}

ul.cd-hero-slider {
	margin-bottom: 0px!important;
}

@media (max-width: 576px) {
	.slide-caption {
		padding: 10px 0px 0px 10px;
	}

	.slide-caption h1 {
		font-size: 45px;
		margin-top: 10px;
	}

	.cd-hero .slide-caption span {
		font-size: 28px !important;
	}

	.main_line i {
		font-size: 15px;
	}

	.slide-caption h2 {
		font-size: 18px;
		margin-top: 30px;
		line-height: 35px;
	}

	.social2 {
		float: right;
		padding:30px 44px 40px 0;
		-ms-transform: rotate(-90deg); /* IE 9 */
	  transform: rotate(0deg);
	  letter-spacing: 20px;
	}

}

#about {
	background-color: none;
	text-align: center;
	padding: 40px 0 30px;
}

#aboutus p {
	color: #676767;
	/*padding: 20px 35px 0 35px; */
	text-align: center; 
	font-size: 14px;
	font-weight: 500;
}

/* Verticals */

	#verticals {
		padding: 20px 0px 80px 0px;
	}

	.verti-sec {
		padding: 30px 0px;
		text-align: center;
	}

	.verti-sec img{
		height: 83px;
		width: auto;
	}

	.verti-sec h5 {
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		margin: 30px 0px 20px 0px;
	}

/* Verticals End */

/* WHAT WE DO */

/*.service-item {
	cursor: pointer;
	background-color: #FFD200;
	text-align: center;
	padding: 30px 20px;
	margin-left: 30px;
	transition: all 0.7s;
	height: 390px;
	width: 80%;
	margin-top: 25px;
	color: #1B1D1F;
}*/

.service-item2 {
	cursor: pointer;
	background-color: #e3c122;
	text-align: center;
	margin-left: 60px;
	transition: all 0.7s;
	height: 190px;
	width: 65%;
	color: #1B1D1F;
	padding: 7px 0 0;
	margin-top: 25px;
}

#what-we-do .service-item2 h1 {
	font-size: 62px !important;
	font-weight: 700;
	margin-top: 10px;
}

.service-item2 h5 {
	margin-top: -20px;
	font-weight: 600;
	font-size: 22px;
}

.service-item2 p {
	padding: 0px 10px !important;
	line-height: 1.2;
}

.service-item2 span {
	font-size: 30px;
	line-height: 1.2;
}

.icon {
	height: 70px;
	width: 70px;
	display: inline-block;
	color: #1B1D1F;
	margin-top: 10px;
}

#what-we-do {
	background-image: url(../img/what-we-do.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0px 80px;
	color: #fff;
}

/*#what-we-do h4 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin-bottom: 25px;
}*/

#what-we-do h4, #publisher h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 5px;
	margin-bottom: 15px;
	margin-top: 35px;
}

#what-we-do .section-heading, #portfolio .section-heading, #contact .section-heading {
	float: left;
}

#what-we-do .section-heading h3 {
	color: #fff;
}

#what-we-do p {
	margin-bottom: 30px;
	color: #ffF;
	line-height: 1.7;
	padding: 0px 40px;
}


/* Publisher Section */

#publisher {
	background: #000;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0px 80px;
}

#publisher .boxes {
	display: -webkit-inline-box;
    padding: 0px 90px;
}

#publisher .service-item {
	cursor: pointer;
	background-color: #ededed;
	text-align: center;
	transition: all 0.7s;
	height: 360px;
	width: 25%;
	margin-top: 25px;
	color: #1B1D1F;
} 

#publisher .service-item3 {
	cursor: pointer;
	background-color: #656565;
	text-align: center;
	transition: all 0.7s;
	height: 360px;
	width: 25%;
	margin-top: 25px;
	color: #fff;
}

.service-item, .service-item3 {
	text-align: center;
	padding: 25px 0px;
}
.service-item p, .service-item3 p {
	color: #000;
	font-size: 13px;
	line-height: 1.7;
	padding: 10px 10px;
}

.service-item3 p {
	color: #fff;
}

#publisher .section-heading{
	float: left;
}

#publisher h3 {
	color: #fff;
}

#publisher h4 {
	line-height: 1.5;
	padding: 0px 45px;
}

#publisher h1 {
	font-size: 72px !important;
	font-weight: 700;
	margin-top: 40px;
}

#publisher h5 {
	margin-top: -18px;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 40px;
}

/*.service-item2 p {
	padding: 0px 10px !important;
	line-height: 1.2;
}*/

#publisher span {
	font-size: 40px;
	line-height: 1.2;
}

.cont_mob_view {
		display: none;
	}

@media (max-width: 576px) {
	#publisher .boxes {
		display: inline-block !important;
		padding: 0px 40px;
	}

	#publisher h1 {
		margin-top: 10px;
	}

	#publisher .service-item, #publisher .service-item3 {
		width: 100%;
		height: 310px;
	}

	.cont_desk_view {
		display: none;
	}

	.cont_mob_view {
		display: block;
	}
}

/* Publisher Section End */

/* PORTFOLIO */

#portfolio {
	text-align: center;
	padding: 40px 0 100px;
}


.project-item {
	margin-top: 30px;
}

.centered {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-item .thumb {
	position: relative;
	text-align: center;
	display: inline-block;
}

.project-item .thumb img {
	width: 90%;
	overflow: hidden;
	height: 400px;
}


.project-item .thumb h4 {
	font-weight: 700;
	font-size: 24px;
	color: #FFD200 ;
}

.project-item .hover-effect {
	position: absolute;
	background-color: none;
	width: 80%;
	height: 90%;
	top: 20px;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s;
	border: 5px solid #FFD200;
	margin-left: 27px;
}

.project-item:hover .hover-effect {
	opacity: 1;
	visibility: visible;
}


/* Brands */

#brands, #partners, #clients, #reviews {
	text-align: center;
	vertical-align: middle;
	padding: 60px 0px;
}

#brands, #clients {
	background-color: #000;
}

#brands .section-heading, #partners .section-heading, #clients .section-heading {
	margin-top: 120px;
}

#brands .section-heading h3, #partners .section-heading h3, #clients .section-heading h3, #reviews .section-heading h3{
	font-size: 40px;
}

#brands .section-heading h3, #clients .section-heading h3 {
	color: #fff;
}

#brands .brand, #partners .partner, #clients .client {
	padding: 10px 25px;
	text-align: center;
}

#brands .box, #clients .box2 {
	height: auto;
    width: 65%;
    background-color: none;
    border: none;
    height: 420px;
    /*-webkit-box-shadow: 1px 1px 9px 5px #000;
    -moz-box-shadow: 1px 1px 9px 5px #0707070f;
    box-shadow: 1px 1px 5px 7px darkgrey;*/
    padding: 10px 0px;
    border-radius: 15px;
}

#partners .box1, #reviews .box3 {
	height: auto;
    width: 65%;
    background-color: #fff;
    border: none;
    height: auto;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 9px 5px #0707070f;
    -moz-box-shadow: 1px 1px 9px 5px #0707070f;
    box-shadow: 1px 1px 9px 5px #0707070f;
    padding: 10px 0px;
}

.part_mob_view {
	display: none;
}

@media (max-width: 576px) {
	#brands .box, #clients .box2 {
		width: 100%;
		height: 200px;
	}

	#partners , #reviews {
		padding: 40px 20px;
	}

	#partners .box1, #reviews .box3 {
		width: 100%;
	}

	#partners .item, #reviews .item {
		padding: 20px 20px !important;
	}

	.part_desk_view {
		display: none;
	}

	.part_mob_view {
		display: block
	}

	#reviews .owl-carousel .owl-nav button.owl-next, #reviews .owl-carousel .owl-nav button.owl-prev{
		margin: -225px -15px  0px!important;
	}

	#clients .owl-carousel .owl-nav button.owl-next, #clients .owl-carousel .owl-nav button.owl-prev, 
	#partners .owl-carousel .owl-nav button.owl-next, #partners .owl-carousel .owl-nav button.owl-prev, 
	#brands .owl-carousel .owl-nav button.owl-next, #brands .owl-carousel .owl-nav button.owl-prev{
		margin: -150px -15px 0px !important;
	}
}

.owl-carousel .owl-nav button.owl-prev {
    float: left;
    left: -10px;
    font-size: 90px !important;
    color: #fff !important;
    margin-top: -245px;
    margin-left: 20px;
}

#partners .owl-carousel .owl-nav button.owl-next, #partners .owl-carousel .owl-nav button.owl-prev, 
#reviews .owl-carousel .owl-nav button.owl-next, #reviews .owl-carousel .owl-nav button.owl-prev {
	color: #000 !important;
}

.owl-carousel .owl-nav button.owl-next {
    float: right !important;
    right: 0px;
    font-size: 90px !important;
    color: #fff !important;
    margin-top: -245px;
    margin-right: 20px;
}

#brands img {
	width: auto;
	max-height: 360px;
	padding: 40px 25px 0px;
}

#partners img {
	max-height: 360px;
	width: auto;
	margin: 20px 0 0 0;
	align-items: center;
}

/* Brands End */

/* Reviews Section Start*/

#reviews .item {
	padding: 20px 80px;
}

#reviews .owl-carousel .owl-nav button.owl-next, #reviews .owl-carousel .owl-nav button.owl-prev{
	margin: -190px -15px 0px;
}

#clients .owl-carousel .owl-nav button.owl-next, #clients .owl-carousel .owl-nav button.owl-prev, 
	#partners .owl-carousel .owl-nav button.owl-next, #partners .owl-carousel .owl-nav button.owl-prev, 
	#brands .owl-carousel .owl-nav button.owl-next, #brands .owl-carousel .owl-nav button.owl-prev{
		margin-left: -15px !important;
		margin-right: -15px !important;
	}

#reviews .item h4 {
	font-size: 13px;
	line-height: 1.6;
	font-weight: 500;
	margin-top: 35px;
}

#reviews .item h5{
	font-size: 16px;
	font-weight: 700;
	margin-top: 12px;
}

#reviews .item h6{
	font-size: 15px;
	font-weight: 700;
	margin-top: 12px;
}

#reviews .item h4::before {
	content: " ï„ " ;
	font-family: "FontAwesome";
    margin-right: 5px;
    margin-top: -15px;
    color: #000;
}

/* Reviews Section End */


/* CONTACT US */

#contact {
	background-image: url(../img/contact-bg.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover; 
	padding: 80px 0 80px;
}

#contact .section-heading h3 {
	color: #FFD200;
}

#contact p {
	color: #fff;
	font-size: 15px;
	line-height: 1;
	font-weight: 600;
}

#contact .ico {
	line-height: 2.5;
}

#contact .ico i{
	text-align: center;
	margin-right: 15px;
	color: #FFD200;
}

#contact p .ico {
	color: #fff;
}


.social-icons {
	float: right;
	margin-top: 60px;
}

.social-icons .footer_logo img{
	width: auto;
	height: 50px;
}

.social-icons i{
	font-size: 24px;
	font-weight: 500;
	color: #FFD200;
	margin-right: 7px;
}

.social-icons span{
	font-size: 11px;
	font-weight: 700;
	color: #FFD200;
}

.contact-form {
    flex-basis: calc(100% * (8/12) - 30px);
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
}

.contact-form form {}

h4.contact-title {
    font-size: 20px;
    font-weight: 700;
    color: #FFD200;
    letter-spacing: 0;
    margin-bottom: 11px;
}

::placeholder {
	font-size: 12px;
	color: #fff;
	font-weight: 600;
}  

.contact-form form .input {
    height: 33px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffd200;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 16px;
}

.contact-form form textarea#msg {
    height: 74px;
}

.contact-form form #send {
    width: 130px;
    height: 40px;
    background: #FFD200;
    border-radius: 20px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    border: none;
    letter-spacing: 0.01em;
    transition: all 0.3s ease 0s;
}

.contact-form form #send:hover {
    box-shadow: 0px 2px 12px 0px #fff;
    background-color: #000;
    color: #FFD200;
    font-weight: 700;
}



/* RESPONSIVE */

@media (max-width: 767px){
	#main-nav {
		border-color: rgba(250, 250, 250, 0.95);
		margin-top: 10px;
		width: 380px;
		background-color: rgba(250, 250, 250, 0.95);
		box-shadow: 0px 5px 10px #cdcdcd;
	}
	.navbar-nav {
		padding: 0px;
		margin-top: 0px;
		margin-top: 0px;
	}
	.navbar-nav>li {
		margin-left: 0px;
		border-bottom: 1px solid #eee;
	}
	.navbar-nav>li:last-child {
		border-bottom: none;
	}
	.navbar-nav>li>a {
		line-height: 50px;
		color: #121212!important;
	}
}

@media (max-width: 768px){
	.cd-hero .slide-caption span {
		font-size: 13px;
	}

	.cd-hero .slide-caption h1 {
		font-size: 28px;
	}
}


@media (max-width: 1015px){
	.slide-caption .content-caption p {
		padding: 0 10%;
	}
	.service-item {
		margin-bottom: 30px;
	}
	#what-we-do .right-image {
		margin-top: 60px;
	}
	#blog .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;
	}
	.fact-item {
		margin-bottom: 15px;
	}
	.map {
		margin-bottom: 45px;
	}
}